.card{width: 30%;


background-color: #134163;
border-radius: 6px;}
/*********/
.titre{color: white;
  margin-left:60% ;

  }
  /**********/
.image{height : 120px;
  margin-left: 10%;
  
  }
/**********/
.code{margin-left: 5%;
  color: white;
}
/*********/
.username{margin-left: 5%;
color: white;}
/************/
.date{margin-left: 70%;
color: white;}
/*********/
.puce{margin-left: 5%;
}
.container{display: flex;
}
.child{width: 70%;}
.credit-card{display: flex;
justify-content: space-evenly;
margin-top: 10%;}